/* Variables  */

:root {
  --box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  --box-shadow-dropdown: 0 6px 10px 0 rgba(0, 0, 0, 0.14);
  --global-radius: 4px;
  --max-width: 43rem;
  --responsive-padding: 4rem;

  // Colors
  --primary-color: #0c71ff;
  --primary-color-hover: #3c8cff;
  --primary-lighter: #e7eafd;
  --white: #fff;
  --main-bg: #eceff1;
  --alert: #ca6a6a;
  --black: #121212;
  --dark: #2b2b2b;
  --grey: rgba(0, 0, 0, 0.6);
  --light-grey: rgba(0, 0, 0, 0.3);
  --quick: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
  --border: 1px solid #e6e6e6;
  --border-color: #e6e6e6;

  @include breakpoint(medium) {
    --responsive-padding: 7rem;
  }
}

html {
  box-sizing: border-box;
  font-family:
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-spacing: 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.45;
}

/* Typography */

h1 {
  color: inherit;
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 1rem;

  @include breakpoint(medium) {
    font-size: 42px;
  }
}

a {
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
}

p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0.8rem;

  strong {
    color: rgba(255, 255, 255, 1);
  }
}

ul {
  margin: 1rem 0;
}

.code {
  font-family: 'Courier', monospace;
  font-weight: 500;
}

/* Layout */

.main {
  max-width: 800px;
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  padding: 1rem;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex img {
  display: block;
  flex-shrink: 0;
  margin-left: 1rem;
  margin-top: 5px;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// Tabs

.tabs {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2rem;
  text-transform: uppercase;

  .tab {
    cursor: pointer;
    display: inline-block;
    margin-bottom: -1px;
    margin-right: 1rem;
    padding: 1rem 8px;
  }

  .tab:not(:first-child) {
    margin-left: 1rem;
  }

  .active {
    border-bottom: 2px solid;
  }
}

.subtitle {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 22px;
  line-height: 1.3;

  strong {
    color: rgba(255, 255, 255, 1);
  }
}

.text-center {
  text-align: center;
}
